
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
target/cartracker-1.0.0.jar
target/cartracker-1.0.0.jar.original
target/classes/application.properties
target/classes/egen/io/Service/VehicleService.class
target/classes/egen/io/Service/ReadingsService.class
target/classes/egen/io/Service/VehicleServiceImplementation.class
target/classes/egen/io/Service/ReadingServiceImplementation.class
target/classes/egen/io/Service/AlertsServiceImplementation.class
target/classes/egen/io/Service/AlertsService.class
target/classes/egen/io/repository/VehiclesRepository.class
target/classes/egen/io/repository/ReadingsRepository.class
target/classes/egen/io/repository/AlertsRepository.class
target/classes/egen/io/Exception/ResourceNotFoundException.class
target/classes/egen/io/SwaggerConfig.class
target/maven-archiver/pom.properties
target/classes/egen/io/Exception/BadRequestException.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/egen/io/Entities/Vehicle.class
target/classes/egen/io/Entities/Tires.class
target/classes/egen/io/Entities/Reading.class
target/classes/egen/io/Entities/Alert.class
target/classes/egen/io/Controller/VehiclesController.class
target/classes/egen/io/Controller/ReadingsController.class
target/classes/egen/io/Controller/AlertsController.class
target/classes/egen/io/Application.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
